@using Microsoft.AspNetCore.Identity
@model IEnumerable<QuestionResponse>
<form asp-action="Index" asp-controller="Question" method="get">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <input name="searchString" value="@ViewBag.searchString" type="text" class="form-control" placeholder="Search for Question..." aria-label="Search for questions" aria-describedby="button-search">
                    <button class="btn btn-primary" type="submit" id="button-search">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


<a asp-action="AddQuestion" asp-controller="Question" class="btn btn-primary mb-3 mt-3">
    Add Question
</a>

<table class="table table-hover mt-3">
    <tbody>
        @foreach (var question in Model)
        {
            <tr>
                <td class="text-center align-middle">
                    <span class="badge bg-secondary">
                        @question.VotesCount
                    </span>
                    <span>Votes</span>
                </td>
                <td class="text-center align-middle">
                    <span class="badge bg-secondary">
                        @question.AnswersCount
                    </span>
                    <span>Answers</span>
                </td>
                <td class="text-center align-middle">
                    <span class="badge bg-secondary">
                        @question.ViewCount
                    </span>
                    <span>Views</span>
                </td>
                <td>

                    <a asp-action="QuestionDetails" asp-controller="Question" asp-route-questionID ="@question.QuestionID" class="text-decoration-none fw-bold">
                        @question.QuestionName
                    </a>
                    <br />
                    <span class="badge bg-info text-dark mt-1">
                        @question.CategoryName
                    </span>
                </td>
                <td class="text-muted">
                    @if (User.Identity.IsAuthenticated && question.UserID == ViewBag.userID)
                    {
                        @: You
                    }
                    else
                    {
                        @question.UserName
                    }
                </td>
                <td class="text-muted">
                    on: @question.QuestionDateAndTime.ToString("MMM dd, yyyy hh:mm tt")
                </td>
                <td class="text-end">
                    @if (User.Identity.IsAuthenticated && question.UserID == ViewBag.userID)
                    {
                        <a asp-action="EditQuestion" asp-controller="Question" asp-route-questionID="@question.QuestionID"
                           class="btn btn-sm btn-outline-primary me-2" title="Edit">
                            <i class="bi bi-pencil-square"></i>
                        </a>

                        <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@question.QuestionID" title="Delete">
                            <i class="bi bi-trash3"></i>
                        </button>
                        <div class="modal fade" id="deleteModal-@question.QuestionID" tabindex="-1" aria-labelledby="deleteModalLabel-@question.QuestionID" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel-@question.QuestionID">Delete Confirmation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this question?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <a asp-action="DeleteQuestion" asp-controller="Question" asp-route-questionID="@question.QuestionID" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
